body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  .productos {
    float: left;
    width: 20%;
    
  }

  .productos h2{
    color: black;
    text-align: center;
  }
  
  .carrito {
    float: right;
    width: 30%;
  }

  .carrito h2{
    color: black;
    font-size: 40px;


  }
  
  .producto {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #lista-carrito {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #total-carrito {
    font-weight: bold;
  }
  
  button {
    background-color: #F35200;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 4px;
    cursor: pointer;
    
  }

.btn-3{
    background-color: #F35200;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
 
    font-size: 14px;
  
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .derechos2 {
    text-align: center;
    position: relative;
    top: 360px;
    float: left;
    right: 100px;
    margin: 0 auto;
    
}

.imagen-estatica {
  position: fixed;
  top: 50px; /* Ajusta la posición vertical de la imagen */
  left: 50px; /* Ajusta la posición horizontal de la imagen */
  margin-left: 360px;

}