

h1 {
  text-align: center;
  padding: 20px;
  color: #333;
}

.datos-personales {
  max-width: 400px;
  margin: 50px auto 0; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #32C320;
}


.datos-personales h2 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.datos-personales div {
  margin-bottom: 15px;
}

.datos-personales label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.datos-personales input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.datos-personales button {
  width: 100%;
  padding: 10px;
  background-color: #F72A7B;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.datos-personales button:hover {
  background-color: #45a049;
}


.derechos3 {
  text-align: center;
  margin: 120px auto 0;
}
